html { 
  box-sizing: border-box; 

} 
*, *:before, *:after { 
  box-sizing: inherit; 
}

* {
  /*border: 1px solid red;*/
}

.nav1 {
  width: 100%;
  height: 50px;
  position: fixed;
  background-color:rgba(red, green, blue, alpha);
}

.nav1 img {
    width: 40px;
    height: 30px;
    margin-left: 15%;
    margin-top: 5px;
    text-decoration: none;
    position: fixed;
    /*z-index: 1;*/

}

.nav2 {
  width: 100%;
  height: 50px;
  position: fixed;
  background-color: rgba(red, green, blue, alpha)
}

.nav2 img {
    float: right;
    margin-right: 15%;
}
  


.row-1 {
    height: 150px;
    width: 100%;
    /*background-color: slategray;*/
    float: center;
}

.row-1 img {
    margin-left: 23%;
    margin-top: 6%;
}

h1 {
    width: 650px;
    height: 100px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 15px;
    margin-left: 300px;
    margin-bottom: 15px;
    /*background-color: red;*/
}

.container {
    display: flex;
    height: 500px;
    width: 100%;
    flex-direction: column;
}

.child-1 {
    width: 60%;
    margin-left: 20%;
    margin-top: 2%;
    font-family: 'Playfair Display', serif;
    line-height: 2em;
    font-size: 1.15em;
}

.child-2 {
    width: 60%;
    margin-left: 20%;
    margin-top: 2%;

}


#main-image {
    height: 50%;
    width: 50%;
    position: relative;
    /*z-index: 2;*/
}